
<h2>Account</h2>
<ul class="parameter">
  <li class="param-required-true">id : Long
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-true">data : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-true">status : String
    <br/>
      <dl class="param-enum">
        <dt>Enum:
            <dd>ACTIVE</dd>
            <dd>BANNED</dd>
            <dd>DELETED</dd>
        </dt>
      </dl>
  </li>
</ul>
