
<h2>Developer</h2>
<ul class="parameter">
  <li class="param-required-true">id : Long
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-true">name : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-true">account : Account
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-true">skills : List
    <br/>
  </li>
</ul>
