
<h2>Skill</h2>
<ul class="parameter">
  <li class="param-required-true">id : Long
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-true">name : String
    <br/>
  </li>
</ul>
