<div class="main-content">
  <h2><a name=""></a></h2>
  <p>This is the  API</p>

  <h2><a name="accountServlet.doDelete"></a>accountServlet.doDelete</h2>
  <hr>
  <p></p>
  <p>Deletes an account</p>
  <h3 class="section">URL</h3>
  <code>https://virtserver.swaggerhub.com/studying1/DeveloperREST/1.0.0/api/v1/account</code>
  <h3 class="section">HTTP Method</h3>
  <code>DELETE</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      
      
      <span class="param-in">Body: </span>
      <span class="param-name">account</span>
      <span class="param-type">Account(Account)</span>
      
      <p class="param-description">account to delete</p>
	  </li>
  </ul>
  <h2><a name="accountServlet.doGet"></a>accountServlet.doGet</h2>
  <hr>
  <p></p>
  <p>Searches all accounts if there no id parametr in request.  In another case searches account by id </p>
  <h3 class="section">URL</h3>
  <code>https://virtserver.swaggerhub.com/studying1/DeveloperREST/1.0.0/api/v1/account</code>
  <h3 class="section">HTTP Method</h3>
  <code>GET</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="Account"><a href="">List</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">id</span>
      <span class="param-type">Long</span>
      
      <p class="param-description">id of the account to search</p>
	  </li>
  </ul>
  <h2><a name="accountServlet.doPost"></a>accountServlet.doPost</h2>
  <hr>
  <p></p>
  <p>Adds an account</p>
  <h3 class="section">URL</h3>
  <code>https://virtserver.swaggerhub.com/studying1/DeveloperREST/1.0.0/api/v1/account</code>
  <h3 class="section">HTTP Method</h3>
  <code>POST</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      
      
      <span class="param-in">Body: </span>
      <span class="param-name">account</span>
      <span class="param-type">Account(Account)</span>
      
      <p class="param-description">account to add</p>
	  </li>
  </ul>
  <h2><a name="accountServlet.doPut"></a>accountServlet.doPut</h2>
  <hr>
  <p></p>
  <p>Updates an account</p>
  <h3 class="section">URL</h3>
  <code>https://virtserver.swaggerhub.com/studying1/DeveloperREST/1.0.0/api/v1/account</code>
  <h3 class="section">HTTP Method</h3>
  <code>PUT</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      
      
      <span class="param-in">Body: </span>
      <span class="param-name">account</span>
      <span class="param-type">Account(Account)</span>
      
      <p class="param-description">account to update</p>
	  </li>
  </ul>
  <h2><a name="developerServlet.doDelete"></a>developerServlet.doDelete</h2>
  <hr>
  <p></p>
  <p>Deletes a developer</p>
  <h3 class="section">URL</h3>
  <code>https://virtserver.swaggerhub.com/studying1/DeveloperREST/1.0.0/api/v1/developer</code>
  <h3 class="section">HTTP Method</h3>
  <code>DELETE</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      
      
      <span class="param-in">Body: </span>
      <span class="param-name">developer</span>
      <span class="param-type">Developer(Developer)</span>
      
      <p class="param-description">developer to delete</p>
	  </li>
  </ul>
  <h2><a name="developerServlet.doGet"></a>developerServlet.doGet</h2>
  <hr>
  <p></p>
  <p>Searches all developers if there no id parametr in request.  In another case searches developer by id </p>
  <h3 class="section">URL</h3>
  <code>https://virtserver.swaggerhub.com/studying1/DeveloperREST/1.0.0/api/v1/developer</code>
  <h3 class="section">HTTP Method</h3>
  <code>GET</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="Developer"><a href="">List</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">id</span>
      <span class="param-type">Long</span>
      
      <p class="param-description">id of the developer to search</p>
	  </li>
  </ul>
  <h2><a name="developerServlet.doPost"></a>developerServlet.doPost</h2>
  <hr>
  <p></p>
  <p>Adds a developer</p>
  <h3 class="section">URL</h3>
  <code>https://virtserver.swaggerhub.com/studying1/DeveloperREST/1.0.0/api/v1/developer</code>
  <h3 class="section">HTTP Method</h3>
  <code>POST</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      
      
      <span class="param-in">Body: </span>
      <span class="param-name">developer</span>
      <span class="param-type">Developer(Developer)</span>
      
      <p class="param-description">developer to add</p>
	  </li>
  </ul>
  <h2><a name="developerServlet.doPut"></a>developerServlet.doPut</h2>
  <hr>
  <p></p>
  <p>Updates a developer</p>
  <h3 class="section">URL</h3>
  <code>https://virtserver.swaggerhub.com/studying1/DeveloperREST/1.0.0/api/v1/developer</code>
  <h3 class="section">HTTP Method</h3>
  <code>PUT</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      
      
      <span class="param-in">Body: </span>
      <span class="param-name">developer</span>
      <span class="param-type">Developer(Developer)</span>
      
      <p class="param-description">developer to update</p>
	  </li>
  </ul>
  <h2><a name="skillServlet.doDelete"></a>skillServlet.doDelete</h2>
  <hr>
  <p></p>
  <p>Deletes a skill</p>
  <h3 class="section">URL</h3>
  <code>https://virtserver.swaggerhub.com/studying1/DeveloperREST/1.0.0/api/v1/skill</code>
  <h3 class="section">HTTP Method</h3>
  <code>DELETE</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      
      
      <span class="param-in">Body: </span>
      <span class="param-name">skill</span>
      <span class="param-type">Skill(Skill)</span>
      
      <p class="param-description">skill to delete</p>
	  </li>
  </ul>
  <h2><a name="skillServlet.doGet"></a>skillServlet.doGet</h2>
  <hr>
  <p></p>
  <p>Searches all skills if there no id parametr in request.  In another case searches skill by id </p>
  <h3 class="section">URL</h3>
  <code>https://virtserver.swaggerhub.com/studying1/DeveloperREST/1.0.0/api/v1/skill</code>
  <h3 class="section">HTTP Method</h3>
  <code>GET</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="Skill"><a href="">List</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">id</span>
      <span class="param-type">Long</span>
      
      <p class="param-description">id of the skill to search</p>
	  </li>
  </ul>
  <h2><a name="skillServlet.doPost"></a>skillServlet.doPost</h2>
  <hr>
  <p></p>
  <p>Adds a skill</p>
  <h3 class="section">URL</h3>
  <code>https://virtserver.swaggerhub.com/studying1/DeveloperREST/1.0.0/api/v1/skill</code>
  <h3 class="section">HTTP Method</h3>
  <code>POST</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      
      
      <span class="param-in">Body: </span>
      <span class="param-name">skill</span>
      <span class="param-type">Skill(Skill)</span>
      
      <p class="param-description">skill to add</p>
	  </li>
  </ul>
  <h2><a name="skillServlet.doPut"></a>skillServlet.doPut</h2>
  <hr>
  <p></p>
  <p>Updates a skill</p>
  <h3 class="section">URL</h3>
  <code>https://virtserver.swaggerhub.com/studying1/DeveloperREST/1.0.0/api/v1/skill</code>
  <h3 class="section">HTTP Method</h3>
  <code>PUT</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      
      
      <span class="param-in">Body: </span>
      <span class="param-name">skill</span>
      <span class="param-type">Skill(Skill)</span>
      
      <p class="param-description">skill to update</p>
	  </li>
  </ul>
</div>
